<p id="notice"><%= notice %></p>

<h1>Clinical History</h1> 

<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


th {
    background-color: black;
    color: white;
}

h1 {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;

}





</style>
</head>



<body>

<table>
  <thead>
    <tr>
      <th>Immunization Status</th>
      <th>Surgeries</th>
      <th>Underlying Medical Illness</th>
      <th>Allergies</th>
      <th>Sexually Transmitted Diseases</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sagas.each do |saga| %>
      <tr>
        <td><%= saga.ImmunizationStatus %></td>
        <td><%= saga.Surgeries %></td>
        <td><%= saga.UnderlyingMedicalIllness %></td>
        <td><%= saga.Allergies %></td>
        <td><%= saga.SexuallyTransmittedDiseases %></td>

        <td><%= link_to 'Show', profile_saga_path(@profile , saga) %></td>
        <td><%= link_to 'Edit', edit_profile_saga_path(@profile ,saga) %></td>
        <td><%= link_to 'Destroy', profile_saga_path(@profile, saga), data: { confirm: 'Are you sure?' } ,method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</body>

<br>

<%= link_to 'New Saga', new_profile_saga_path(@profile) %>

